{% extends "pages/abstract/base.html.twig" %}

{% block page_title %}Outseta Integration Test{% endblock %}

{% block page_description %}testing{% endblock %}

{% block content %}
    <p>simple test trying to fetch user details for info@urosaleksic.com</p>
    <p>message: {{payload.message}}</p>
    <p>name: {{payload.name}}</p>
    <p>uid: {{payload.uid}}</p>
{% endblock %}
