{% extends "pages/abstract/base.html.twig" %}

{% block page_title %}Outseta Integration Test{% endblock %}

{% block page_description %}testing{% endblock %}

{% block content %}
    <h1>Hello from the UfOutsetaIntegration Sprinkle!</h1>
    <p>If you can see this, your manually created Sprinkle is working correctly.</p>
{% endblock %}
